@font-face {
	font-family: "HelveticaNeue";
	font-display: swap;
	src: url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "HelveticaNeue";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "HelveticaNeue";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	background-color: #333;
	/*----------------------------------------*/
	/*----------------------------------------*/
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/*----------------------------------------*/
	/*----------------------------------------*/
}

._container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
	/*----------------------------------------*/
	/*----------------------------------------*/
}

.page {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Стили самого блока */

.consultation {
	background-color: #00a6da;
}

.consultation__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 266px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.consultation__column:nth-child(1) {
	max-width: 334px;
}

.consultation__column:nth-child(2) {
	position: relative;
	min-width: 334px;
}

.consultation__column:nth-child(3) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.consultation__title {
	margin-top: 45px;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 92.3076923077%;
	color: #ffffff;
}

.consultation__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 27px;
	background: #fd0002;
	color: #ffffff;
	padding: 5px 10px 4px 10px;
	position: relative;
	margin: 0px 0px 56px 0px;
}

.consultation__subtitle:after {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 0;
	display: inline-block;
	max-width: 165px;
	width: 100%;
	height: 3px;
	background-color: #fff;
}

.consultation__text {
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 17px;
	color: #ffffff;
	padding-bottom: 45px;
}

.consultation__subject {
	font-size: 20px;
	color: #f7f7f7;
	font-weight: 400;
	margin-bottom: 10px;
	max-width: 409px;
}

.consultation__image {
	position: absolute;
	bottom: 0px;
	height: 310px;
	width: 424px;
}

.consultation__image img {
	max-width: 424px;
	max-height: 310px;
	width: 100%;
	height: 100%;
}

.timing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.timing__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 10px;
	font-size: 18px;
	color: #f7f7f7;
}

.timing__item span {
	min-width: 38px;
	padding: 0;
	display: block;
	color: #fff;
	font-size: 36px;
	background: none;
	font-weight: 500;
	margin-right: 10px;
}

@media (max-width: 1152px) {
	._container {
		max-width: 990px;
	}

	.consultation__title {
		font-size: 22px;
	}

	.consultation__subtitle {
		font-size: 22px;
	}

	.timing__item span {
		font-size: 30px;
	}
}

@media (max-width: 991.98px) {
	._container {
		max-width: 750px;
	}

	.consultation__row {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.consultation__column:nth-child(2) {
		display: none;
	}
}

@media (max-width: 767.98px) {
	._container {
		max-width: none;
		padding: 0 10px;
	}

	.consultation__row {
		display: block;
		padding-top: 45px;
		padding-bottom: 10px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.consultation__title {
		margin-top: 0;
		font-size: 24px;
	}

	.consultation__subtitle {
		font-size: 25px;
	}

	.timing__item span {
		font-size: 36px;
	}
}

@media (max-width: 578px) {
	.consultation__row {
		padding-bottom: 25px;
	}

	.timing__item {
		display: block;
	}
}
